@mixin font-size($value) {
	font-size: ($value * 1rem);
}

body,
a,
.ui.form .field label,
.ui.button {
	@include font-size(1.3);
}

li {
	list-style-type: none;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}

.ui.button {
	margin: 10px;
}
